<div class="cart-container">

    <div class="cart-container-box">
        <div class="left-container-box">
            <div class="child-box" *ngIf="!user">
                <div>
                    <h2>Cuenta</h2>
                    <span>Para poder completar tu orden necesitas estar registrado.</span>
                </div>
                <div class="button-container">
                    <div class="button-box">
                        <button mat-raised-button class="default-button success-background" style="width: 150px;"
                        [routerLink]="['/login']">
                            INICIAR SESION
                        </button>
                    </div>
                    <div class="button-box" style="margin-left: 20px;">
                        <button mat-raised-button class="default-button success-outline" style="width: 150px;"
                        [routerLink]="['/signup']" >
                            REGISTRARSE
                        </button>
                    </div>
                </div>
            </div>
            <div class="child-box">
                <div class="cart-card-header flex-with-space-between">
                    <div class="flex-item-center">
                        <h2>Dirección de entrega</h2>
                    </div>
                    <button mat-icon-button>
                        <mat-icon fontSet="material-icons-outlined">add</mat-icon>
                     </button>
                </div>
                <div class="address-box-container">
                    <div class="address-box-card">
                        <div class="address-box-header">
                            <mat-icon fontSet="material-icons-outlined">corporate_fare</mat-icon>
                            <h3 style="font-weight: 500; margin-left: 10px">Casa</h3>
                        </div>
                        <div class="address-box-footer">
                            <label> Calle Sin Nombre No. 1 1234567 Puebla, Puebla</label>
                            <div style="margin-top: 20px;">
                                <div class="button-box">
                                    <button mat-raised-button class="default-button success-outline"
                                        style="width: 150px;">
                                        <span>Entregar aquí</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="child-box">
                <div>
                    <h2>Elije un método de pago</h2>
                </div>
                <div class="second-view">
                    <div class="body" style="padding: 0;">
                        <div class="list-view">
                            <div class="list-box">
                                <ul>
                                    <li class="item ">

                                        <mat-icon fontSet="material-icons-outlined" class="icon">
                                            credit_card
                                        </mat-icon>
                                        <span style="margin-left: 10px;" class="text">
                                            Tarjeta de credito / débito
                                        </span>
                                    </li>
                                    <li class="item active_item">
                                        <mat-icon fontSet="material-icons-outlined" class="icon">
                                            money
                                        </mat-icon>
                                        <span class="text" style="margin-left: 10px;">Pagar al entregar</span>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="result-view">
                            <div class="result-box">
                                <div style="margin-top: 30px;display: flex; flex-direction: column;">
                                    <h3 style="font-weight: 400">Efectivo</h3>
                                    <span style="margin-top: 10px; font-weight: 500; opacity: .5;">Por favor ten cambio exacto para nuestro repartidor.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-container-box">
            <div class="main-box cart-card" style="padding: 0; border-radius: 12px;">
                <div class="cart-card-header flex-with-space-between padding-horizontaly">
                    <div class="flex-item-center">
                        <mat-icon fontSet="material-icons-outlined">receipt_long</mat-icon>
                        <div class="very-small-gap"></div>
                        <h2>Tu orden ({{cartItems.length}})</h2>
                    </div>
                </div>
                <div class="cart-card-body" style="max-height: 280px !important;">
                    <ul>
                        <li class="flex-with-space-between padding" *ngFor="let item of cartItems">
                            <div class="flex-item-center">
                                <mat-form-field style="width: 60px; background: rgb(246, 246, 246);" color="dark">
                                    <mat-select style="text-align: center !important;" [(ngModel)]="item.quantity"
                                        (selectionChange)=addToCart(item)>
                                        <mat-option *ngFor="let quantityValue of quantityList" [value]="quantityValue"
                                            style="margin-left: 5px !important;">
                                            {{quantityValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div class="small-gap"></div>
                                <div class="flex-column">
                                    <span> {{item.food.name}} </span>
                                </div>
                            </div>
                            <span>$ {{item.quantity * item.food.price}}</span>
                        </li>
                    </ul>
                </div>
                <div class="cart-card-footer padding">
                    <button mat-raised-button
                        (click)="fakePayment()"
                        class="full-width full-height success-background ">
                        <div class="flex-with-space-between">
                            <span style="border: 1px solid; width: 30px;">
                                {{cartItems.length}}
                            </span>
                            <span>
                                Pagar
                            </span>
                            <span>
                                $ {{calculateTotalPriceOfCart()}}
                            </span>
                        </div>
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>