<div class="header-container" *ngIf="currentRoute !== '/login' &&  currentRoute !== '/signup'">
    <div class="contain flex-with-space-between">
        <div class="left-container flex-item-center flex1 full-height">
            <a class="logo" routerLink="restaurant">
                <h1>Nutrimento</h1>
            </a>
            <div class="large-gap"></div>
        </div>
        <div class="reverse-flex flex1 full-height" *ngIf="user$ | async as user; else login">
            <a mat-button [mdePopoverTriggerFor]="cartPopover" [mdePopoverOffsetX]="0" [mdePopoverOffsetY]="55"
                mdePopoverTriggerOn="click" *ngIf="cartItems && cartItems.length > 0">
                <div class="header-menu-box">
                    <mat-icon fontSet="material-icons-outlined" class="success">receipt_long</mat-icon>
                    <div class="micro-gap"></div>
                    <span class="header-menu-text success ">{{cartItems.length}}</span>
                </div>
            </a>
            <div class="very-small-gap"></div>
            <a mat-button *ngIf="user" [mdePopoverTriggerFor]="appPopover" [mdePopoverOffsetX]="-50"
                [mdePopoverOffsetY]="55" mdePopoverTriggerOn="click">
                <div class="header-menu-box">
                    <mat-icon fontSet="material-icons-outlined" class="icon">person</mat-icon>
                    <div class="very-small-gap"></div>
                    <span class="header-menu-text"> {{ user?.email}} </span>
                </div>
            </a>
            
            <!--<button mat-button (click)="searchButtonToggle()" *ngIf="!searchInputBoxEnable" class="hide-mobile-view">
                <div class="header-menu-box">
                    <mat-icon fontSet="material-icons-outlined" class="icon">search</mat-icon>
                    <div class="very-small-gap"></div>
                    <span class="header-menu-text">Buscar</span>
                </div>
            </button> -->
            <mat-form-field style="margin-top: 10px;" *ngIf="searchInputBoxEnable" (keyup.enter)="searchButtonToggle()" 
                floatLabel="never">
                <input matInput type="text" placeholder="What are you craving" (blur)="searchButtonToggle()"
                    [matAutocomplete]="auto" style=" padding-bottom: 5px; font-size: 14px;">
                <mat-icon fontSet="material-icons-outlined" matPrefix mat-icon-button class="icon"
                    style="margin-right: 5px;">access_time</mat-icon>
                <button mat-button matSuffix mat-icon-button aria-label="Clear">
                    <mat-icon style="padding-bottom: 5px;">close</mat-icon>
                </button>
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngFor="let food of searchableFoods" [value]="food.title">
                        <mat-icon fontSet="material-icons-outlined" mat-icon-button class="icon"
                            style="margin-right: 5px;">{{food.icon}}</mat-icon>
                        <span>{{food.title}}</span>
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <ng-template #login>
            <div class="very-small-gap"></div>
            <a mat-button  [routerLink]="['/login']" routerLinkActive="active">
                <div class="header-menu-box">
                    <mat-icon fontSet="material-icons-outlined" class="icon">person</mat-icon>
                    <div class="very-small-gap"></div>
                    <span class="header-menu-text">Iniciar sesión</span>
                </div>
            </a>
            <a mat-button [mdePopoverTriggerFor]="cartPopover" [mdePopoverOffsetX]="0" [mdePopoverOffsetY]="55"
            mdePopoverTriggerOn="click" *ngIf="cartItems && cartItems.length > 0">
            <div class="header-menu-box">
                <mat-icon fontSet="material-icons-outlined" class="success">receipt_long</mat-icon>
                <div class="micro-gap"></div>
                <span class="header-menu-text success ">{{cartItems.length}}</span>
            </div>
        </a>
        </ng-template>
    </div>
</div>
<mde-popover #appPopover="mdePopover" [mdePopoverCloseOnClick]="true">
    <div class="popover">
        <ul class="profile-dropdown">

            <li [routerLink]="['/my-account/orders']" class="profile-dropdown-item" routerLinkActive="active">
                <button mat-icon-button color="dark">
                    <mat-icon fontSet="material-icons-outlined">receipt</mat-icon>
                </button>
                Ordenes
            </li>
            <li [routerLink]="['/my-account/favourites']" class="profile-dropdown-item" routerLinkActive="active">
                <button mat-icon-button color="dark">
                    <mat-icon fontSet="material-icons-outlined">favorite</mat-icon>
                </button>
                Favoritos
            </li>
            <li [routerLink]="['/my-account/payments']" class="profile-dropdown-item" routerLinkActive="active">
                <button mat-icon-button color="dark">
                    <mat-icon fontSet="material-icons-outlined">credit_card</mat-icon>
                </button>
                Pago
            </li>
            <li [routerLink]="['/my-account/favourites']" class="profile-dropdown-item" routerLinkActive="active">
                <button mat-icon-button color="dark">
                    <mat-icon fontSet="material-icons-outlined">help</mat-icon>
                </button>
                Ayuda
            </li>
            <li [routerLink]="['/my-account']" class="profile-dropdown-item" routerLinkActive="active">
                <button mat-icon-button color="dark">
                    <mat-icon fontSet="material-icons-outlined">person</mat-icon>
                </button>
                Cuenta
            </li>
            <li (click)="logout()" class="profile-dropdown-item" style="padding-left: 12px;;">Cerrar Sesión</li>
        </ul>
    </div>
</mde-popover>
<mde-popover #cartPopover="mdePopover" [mdePopoverCloseOnClick]="enableClosePopover">
    <div class="popover cart-card flex-column" *ngIf="cartItems && cartItems.length > 0">
        <div class="cart-card-header flex-with-space-between padding-horizontaly">
            <div class="flex-item-center">
                <mat-icon fontSet="material-icons-outlined">receipt_long</mat-icon>
                <div class="very-small-gap"></div>
                <h2>Tu orden ({{cartItems.length}})</h2>
            </div>
            <mat-icon fontSet="material-icons-outlined" (click)="closeCartPopover()">close</mat-icon>
        </div>
        <div class="cart-card-body">
            <ul>
                <li class="flex-with-space-between padding" *ngFor="let item of cartItems">
                    <div class="flex-item-center">
                        <mat-form-field style="width: 60px; background: rgb(246, 246, 246);" color="dark">
                            <mat-select style="text-align: center !important;" [(ngModel)]="item.quantity"
                                (selectionChange)=addToCart(item)>
                                <mat-option *ngFor="let quantityValue of quantityList" [value]="quantityValue"
                                    style="margin-left: 5px !important;">
                                    {{quantityValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="small-gap"></div>
                        <div class="flex-column">
                            <span> {{item.food.name}} </span>
                        </div>
                    </div>
                    <span>$ {{item.quantity * item.food.price}}</span>
                </li>
            </ul>
        </div>
        <div class="cart-card-footer padding">
            <!-- Agregar para ir [routerLink]="['/checkout']"-->
            <button mat-raised-button (click)="closeCartPopover()" [routerLink]="['/checkout']" class="full-width full-height success-background ">
                <div class="flex-with-space-between">
                    <span style="border: 1px solid; width: 30px;">
                        {{cartItems.length}}
                    </span>
                    <span>
                        Pagar
                    </span>
                    <span>
                        $ {{calculateTotalPriceOfCart()}}
                    </span>
                </div>
            </button>
        </div>


    </div>
</mde-popover>