<h1>Tus pedidos</h1>
<!--<ng-container >
        <skltn-root class="card" duration="1000" [rectRadius]="10" flareWidth="50%" bgFill="#d8d5d1"
            flareFill="rgba(255,255,255, 0.5)" >
            <!-- Card with Avatar 
            <div class="skltn-card">
                <div skltn-bone class="skltn-card__avatar" type="circle"></div>
                <div class="skltn-card__body">
                    <div skltn-bone class="skltn-card__title"></div>
                    <div skltn-bone class="skltn-card__line"></div>
                    <div skltn-bone class="skltn-card__line"></div>
                </div>
            </div>
        </skltn-root>
</ng-container>-->
<div class="order-box">
    <div class="img-box">
        <img src="https://www.diariodexalapa.com.mx/local/uw0ptb-mesero/ALTERNATES/LANDSCAPE_1140/mesero" width="250" height="120">
    </div>
    <div class="detail-box">
        <div *ngFor="let order of orders | async">
        <div *ngIf="order.userid == usuario"> 
        <div *ngIf="order.status != 2">
     <span style="font-size: 18px; font-weight: 600;">{{order.userid}}</span>

        <div style="margin-bottom: 5px;" *ngFor="let product of order.products">
            <label>
                {{ product.quantity }} x {{ product.name }} 
            
            </label>
s          

        </div>
        <div style="flex: 1; margin-left: 400px;"          *ngIf="order.status ==0">
            
            <button mat-raised-button class="full-width full-height success-background " style="height: 80px; width: 700px; background-color:#2962ff; color: white;">
                Tu ordén está pendiente
            </button>
        </div>
        <div style="flex: 1; margin-left: 400px;"          *ngIf="order.status ==1">
            
            <button mat-raised-button class="full-width full-height success-background " style="height: 80px; width: 700px; background-color:#00c853; color: black;">
                Tu ordén está en progreso
            </button>
        </div>
        <div style="flex: 1; margin-left: 400px;"          *ngIf="order.status ==2">
            
            <button mat-raised-button class="full-width full-height success-background " style="height: 80px; width: 700px;" disabled>
                ¡Su orden esta lista!
            </button>
        </div>
        </div>
        
        </div>
    </div>
  
</div>