<div class="footer">
        <div class="container">
            <div class="first">
                    <img src="https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/12c47a69e1022b581a7e823e9bd45466.svg">
                <p>
                    Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.
                </p>
            </div>
            <div class="second">
                <h4>HELP</h4>
                <ul class="list" style="line-height: 2.5;">
                    <li>
                        Shipping Information</li>
                    <li> Returns & Exchange</li>
                    <li> Terms & Conditions</li>
                    <li> Privacy Policy
                    </li>
                </ul>
            </div>
            <div class="third">
                <h4>HAVE A QUESTION</h4>
                <p>
                    203 Fake St. Mountain View, San Francisco, California, USA</p>
                <p>+2 392 3929 210</p>
                <p>info@yourdomain.com
                </p>
            </div>
        </div>
        <div class="copyright">
            <p>Copyright ©2019 All rights reserved | This application is made by <a href="https://red-themes.com" >Red-Themes</a></p>
        </div>
    </div>